#Dictionary
- {key:value}
  - key: immutable elements(int,str,tuple)
- Mutable
- ordered(After o python 3.7)
- Dictionaries are ordered .in python 3.65 and earlier , dict are unordered
- Any changes we will do...we will be doing using **key**

In [1]:
d1={"name":"affan","age":22,"course":"DA"}
d1

{'name': 'affan', 'age': 22, 'course': 'DA'}

#Dict is Mutable

In [2]:
#changing element(value) in a dict

In [3]:
#L[index]=new value
#dictname[keyname]=new value
d1

{'name': 'affan', 'age': 22, 'course': 'DA'}

In [4]:
d1["name"]="tanmay"
d1

{'name': 'tanmay', 'age': 22, 'course': 'DA'}

In [5]:
d1

{'name': 'tanmay', 'age': 22, 'course': 'DA'}

In [6]:
#Adding new element in dict
#dictname[new_keyname]=new value
d1["id"]=101
d1

{'name': 'tanmay', 'age': 22, 'course': 'DA', 'id': 101}

In [8]:
d1["id"]=102
d1

{'name': 'tanmay', 'age': 22, 'course': 'DA', 'id': 102}

In [9]:
d1["ID"]=103
d1

{'name': 'tanmay', 'age': 22, 'course': 'DA', 'id': 102, 'ID': 103}

#Functions/Methods of dict
- 1.get() : To get a value of mentioned key
- 2.pop()
- 3 popitem()
- 4 keys() : key view
- 5 values() : value veiw
- 6 items() : key value pairs
- 7 copy()
- 8 clear()
- 9 update({key:value}) :elements change

In [10]:
d1

{'name': 'tanmay', 'age': 22, 'course': 'DA', 'id': 102, 'ID': 103}

In [11]:
del d1["id"]

In [12]:
d1

{'name': 'tanmay', 'age': 22, 'course': 'DA', 'ID': 103}

In [13]:
d1.pop("name")
d1

{'age': 22, 'course': 'DA', 'ID': 103}

In [14]:
d1.popitem()

('ID', 103)

In [15]:
d1

{'age': 22, 'course': 'DA'}

In [16]:
#city:"ratnagiri"
d1["city"]="Ratnagiri"
d1

{'age': 22, 'course': 'DA', 'city': 'Ratnagiri'}

In [17]:
d1.get("age")

22

In [18]:
d1.keys()

dict_keys(['age', 'course', 'city'])

In [19]:
d1.values()

dict_values([22, 'DA', 'Ratnagiri'])

In [20]:
d1.items()

dict_items([('age', 22), ('course', 'DA'), ('city', 'Ratnagiri')])

In [21]:
d1.update({"name":"vijay"})
d1

{'age': 22, 'course': 'DA', 'city': 'Ratnagiri', 'name': 'vijay'}

In [22]:
d1.update({"name":"namra"})
d1

{'age': 22, 'course': 'DA', 'city': 'Ratnagiri', 'name': 'namra'}